
/* Color Scheme */
:root {
    --primary-color: #0e5f54; /* Olive Green */
    --secondary-color: #ff7535; /* Dark Slate Blue */
    --accent-color: #dff5da; /* Wheat */
    --border-color: #ddc7b7; /* Saddle Brown */
    --background-color: #ffffff; /* Pale Goldenrod */
    --font-color: #313131;
    
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 0.9rem;
}


.grid {
    display: grid;
    grid-template-columns: 1fr; /* 250px for the sidebar and the rest for the main content */
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100%;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
}

.page-header, .page-footer {
    background-color: var(--background-color);
    padding: 30px;
}

.page-header {
    grid-area: header;
}

.page-footer {
    grid-area: footer;
}

.page-main {
    grid-area: main; 
    background-color: var(--accent-color);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "sidebar canvas"
}

.menu-bar {
    width: 0; /* This will make the sidebar take the full width of its grid cell */
    height: 100%;
    overflow-x: hidden;
    transition: width 0.3s;
    font-family: Garamond, serif;
    background-color: var(--background-color);
    color: var(--font-color);
    grid-area: sidebar; 
}

.menu-header h3 {
    color: var(--font-color);
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button, .menu-bttn, .menu-bttn-expand {
    background-color: var(--primary-color);
    display: block;
    color: var(--accent-color);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    
}

.menu-bttn{
    margin-top: 5px;
}


button:hover, .menu-bttn:hover, .menu-bttn-expand:hover {
    background-color: var(--secondary-color);
}


.bttnSingleOps{
    color: #aaa;
    background-color: #ddd;

    /* Prevent mouse events */
    pointer-events: none;

    /* Optional: Add a not-allowed cursor icon */
    cursor: not-allowed;
}

/* Consistent Styling for Labels */
label {
    /* ... rest of the styles remain the same */
    color: var(--secondary-color);
}



/* Input Fields */
input[type="number"], input[type="file"], input[type="color"], select {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 0.8rem;
    color: var(--primary-color);
    background-color: var(--accent-color);
    transition: border-color 0.3s;
    margin-top: 5px;
    display: block;
}


input[type="number"]:focus, input[type="file"]:focus, input[type="color"]:focus, select:focus {
    border-color: var(--secondary-color);
    outline: none;
}


.menu-toggle, .menu-close {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 4px 0;
    transition: background-color 0.3s;
}


.menu-toggle:hover, .menu-close:hover {
    transform: scale(1.1);
}



.menu-bttn:hover {
    background-color: var(--secondary-color);
}

.menu-close {
    color: var(--primary-color);
    font-size: 2em;
    transition: color 0.3s;
}

.menu-toggle:hover .bar {
    background-color: var(--secondary-color);
}

.menu-close:hover {
    color: var(--secondary-color);
}

/* Additional styling for the sidebar content */
.menu-div {
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#matrix-size{
    display: none;
}

#matrix-input{
    display: none;
}


#matrix-output{
    display: none;
}


#matrix-colors{
    display: none;
}

#matrix-single-ops{
    display: none;
}

#matrix-multi-ops{
    display: none;
}

#matrix-special{
    display: none;
}

.sizeInput, .dataInput, .dataOutput, .inputColor, .addmatrixInput {

}

/* JS will handle the toggle functionality */

/* 6. Make the sidebar scrollable without a visible scrollbar */
.menu-bar {
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.menu-bar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.menu-bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



.content-toggle {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--accent-color);
    text-decoration-color: var(--secondary-color);
    transition: background-color 0.3s;
    padding: 10px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
 }


    

.currentColorMonitor {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 10px;
    padding: 15px 15px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: color 300ms cubic-bezier(0.42, 0, 0.58, 1) 1ms;
    -moz-transition: color 300ms cubic-bezier(0.42, 0, 0.58, 1) 1ms;
    -o-transition: color 300ms cubic-bezier(0.42, 0, 0.58, 1) 1ms;
    transition: color 300ms cubic-bezier(0.42, 0, 0.58, 1) 1ms;
    
}
    

.main-part{
    grid-area: canvas;
    display: grid;
    grid-template-columns: auto 1fr;
}

.canvas-div {
    display: grid;
    grid-template-columns: fit-content fit-content;
    grid-template-rows: fit-content fit-content;
}

.maincanvas {
    grid-row: 2;
    grid-column: 2; 
    background-color: var(--background-color);
    border: 1px solid #0e5f54;
    
}

.widthNotation {
    grid-row: 1;
    grid-column: 2;
    background-color: var(--background-color);
    align-self: end;
}

.heightNotation {
    grid-row: 2;
    grid-column: 1;
    justify-self: end;
    background-color: var(--background-color);
}



.coord {
    display: block;
    width: 80px;
    padding: 10px;
}